@model List<ResultProductDetailDto>

<div class="tab-pane fade" id="tab-pane-2">
    <h4 class="mb-3">Detaylı Bilgi</h4>
    @foreach (var item in Model)
    {
        
 
    <p>@item.Info</p>
    }
</div>