@model CreateAboutDto
@{
    ViewData["Title"] = "Yeni Hakkımızda Oluştur";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">

            <form method="post">
                <label>Adres</label>
                <input type="text" asp-for="Address" class="form-control" />
                <br>
                <label>Email</label>
                <input type="email" asp-for="Email" class="form-control" />
                <br>
                <label>Telefon</label>
                <input type="text" asp-for="Phone" class="form-control" />
                <br>
                <label>Açıklama</label>
                <textarea type="text" asp-for="Description" class="form-control" rows="5" ></textarea>
                <br>
                <button class="btn btn-outline btn-rounded btn-primary"><i class="fa fa-save"></i> Kaydet</button>
            </form>
        </div>
    </div>
</div>

