@model CreateCompanyDto
@{
    ViewData["Title"] = "Yeni Kargo Şirketi Ekle";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="chart-box">

            <form method="post">
                <label>Kargo Şirketi Adı</label>
                <input type="text" asp-for="Name" class="form-control" />
                <br>
                <button class="btn btn-outline btn-rounded btn-primary"><i class="fa fa-save"></i> Kaydet</button>
            </form>
        </div>
    </div>
</div>
