@model IList<ResultCompanyDto>
@{
    ViewData["Title"] = "Kargo Şirketleri";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">

            <div id="example_filter" class="dataTables_filter pull-right">
                <input class="form-control" id="placeholderInput" placeholder="Ara" type="text">
            </div>
            <table class="table table-responsive">
                @{
                    int count = 0;
                }
                <thead>
                    <tr>
                        <th class="sortable">#</th>
                     
                        <th class="sortable">Kargo Şirketi</th>
                       
                        <th class="sortable">İşlemler</th>

                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    count++;

                    <tr>
                        <td class="text-truncate">@count</td>
                      
                        <td class="text-truncate">@item.Name</td>
                       
                        <td class="text-truncate">
                            <a class="btn btn-outline btn-rounded btn-danger" asp-action="DeleteCompany" asp-route-id="@item.CompanyId"><i class="fa fa-trash"></i> Sil</a>
                            <a class="btn btn-outline btn-rounded btn-info" asp-action="UpdateCompany" asp-route-id="@item.CompanyId"><i class="fa fa-pencil"></i> Güncelle</a>
                        </td>
                    </tr>
                }

            </table>
            <a class="btn btn-outline btn-rounded btn-primary" asp-action="CreateCompany" asp-controller="CargoCompany" asp-area="Admin">Yeni Kargo Şirketi Ekle</a>
        </div>
    </div>
</div>

