
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UserLayoutHead")
<body>
    <div class="container-scroller d-flex">
        <!-- partial:./partials/_sidebar.html -->
        @await Component.InvokeAsync("_UserLayoutSidebar")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:./partials/_navbar.html -->
            @await Component.InvokeAsync("_UserLayoutNavbar")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                  @RenderBody()
                    <!-- row end -->
                </div>
                <!-- content-wrapper ends -->
                <!-- partial:./partials/_footer.html -->
                <footer class="footer">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-center justify-content-sm-between">
                                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com @DateTime.Now.Year</span>
                                <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Distributed By: <a href="https://www.themewagon.com/" target="_blank">ThemeWagon</a></span>
                                <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Tüm hakları saklıdır</a></span>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
   @await Component.InvokeAsync("_UserLayoutScripts")
    <!-- End custom js for this page-->
</body>

</html>