@model UpdateFeatureServiceDto
@{
    ViewData["Title"] = "Hizmet Güncelle";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="chart-box">

            <form method="post">
                <input type="hidden" asp-for="Id" />
                 <label>Hizmet Adı</label>
                <input type="text" asp-for="Title" class="form-control" />
                <br>
                <label>İkon</label>
                <input type="text" asp-for="Icon" class="form-control" />
                <br>
                <button class="btn btn-outline btn-rounded btn-primary"><i class="fa fa-pencil"></i> Güncelle</button>
            </form>
        </div>
    </div>
</div>
