@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_UILayoutHead")

<body>
    <!-- Topbar Start -->
    @await Component.InvokeAsync("_UILayoutTopbar")
    <!-- Topbar End -->
    <!-- Navbar Start -->
    @await Component.InvokeAsync("_UILayoutNavbar")
    <!-- Navbar End -->
    <!-- Breadcrumb Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-12">
                <nav class="breadcrumb bg-light mb-30">
                    <a class="breadcrumb-item text-dark" href="/Home/Index">Ana Sayfa</a>
                    <span class="breadcrumb-item active">@ViewData["Title"]</span>
                </nav>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->
    @RenderBody()


    <!-- Footer Start -->
    @await Component.InvokeAsync("_UILayoutFooter")
    <!-- Footer End -->
    <!-- Scripts -->
    @await Component.InvokeAsync("_UILayoutScripts")
</body>

</html>