@model CreateProductDto
@{
    ViewData["Title"] = "Yeni Ürün Oluştur";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="chart-box">

            <form method="post">
                <label>Ürün Adı</label>
                <input type="text" asp-for="ProductName" class="form-control" />
                <br>
                <label>Kategori</label>
                <select asp-items="@ViewBag.category" asp-for="CategoryId" class="form-control">
                    <option>Kategoriyi Seçin</option>
                </select>
                <br />
                <label>Fiyat</label>
                <input type="text" asp-for="Price" class="form-control" />
                <br>
                <label>Resim Url</label>
                <input type="text" asp-for="ImageUrl" class="form-control" />
                <br>
                <label>Açıklama</label>
                <textarea type="text" asp-for="Description" class="form-control" rows="4" ></textarea>
                <br>
                <button class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
            </form>
        </div>
    </div>
</div>
