
@{
    ViewData["SubTitleHref"] = "/Shop/Index";
    ViewData["SubTitle"] = "Ürün Listesi";
    ViewData["Title"] = "Ürün Detayları";
    Layout = "~/Views/UILayout/_Layout.cshtml";
}

<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
      @await Component.InvokeAsync("_ProductDetailCarousel")

      @await Component.InvokeAsync("_ProductDetailFeature")

    </div>
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Açıklama</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-2">Detaylı Bilgi</a>
                    <a class="nav-item nav-link text-dark" data-toggle="tab" href="#tab-pane-3">Değerlendirme (1)</a>
                </div>
                <div class="tab-content">
                    @await Component.InvokeAsync("_ProductDetailDescription")
                    @await Component.InvokeAsync("_ProductDetailInformation")
                    @await Component.InvokeAsync("_ProductDetailReview")
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Shop Detail End -->


